In [2]:
import pandas as pd

df=pd.read_excel("Report.xls", skiprows=5, skipfooter=2, header=0)

In [3]:
def Neat(df):
    
    df.dropna(subset=['کد ملی'], inplace=True)
    df.reset_index(drop=True, inplace=True)

    #Creating a df from even rows
    df1 = df[df.index%2 == 0]
    df1.iloc[0,[8,9,11]]=["Birth_En","Mobile","Name_En"]
    df1.columns=df1.iloc[0]
    df1=df1.drop(df1.index[0])
    df1.reset_index(drop=True, inplace=True)

    #Creating a df from odd rows
    df2 = df[df.index%2 == 1]
    df2.reset_index(drop=True, inplace=True)
    df2.columns.values[[6,8,9,11]]=["Prov","Birth_Fa","Nat_ID","Name_Fa"]

    #Prearing a neat df
    df_concat = pd.concat([df1, df2], axis=1)
    df_concat=df_concat.iloc[:,[26,11,21,23,8,9,24]]

    return df_concat

In [4]:
Neat(df).to_excel("output.xlsx")