In [5]:
import tkinter as tk
import pandas as pd
from tkinter import filedialog

root = tk.Tk()

file=filedialog.askopenfilename()

root.withdraw()

print(file)

df=pd.read_excel(file, skiprows=5, skipfooter=2, header=0)

print(df)

/home/mohammad/Downloads/Report.xls
                          وضعیت مدارک  Unnamed: 1  Unnamed: 2  \
0                        شماره پیگیری         NaN         NaN
1                          بررسی نشده         NaN         NaN
2                      325327831220 -         NaN         NaN
3       باشگاه سنگ نوردی داوودی تهران         NaN         NaN
4                          بررسی نشده         NaN         NaN
5                      325336472220 -         NaN         NaN
6      باشگاه کوه نوردی آلپاین شیروان         NaN         NaN
7                          بررسی نشده         NaN         NaN
8                      325368317552 -         NaN         NaN
9   باشگاه کوه نوردی بام ایران شهرکرد         NaN         NaN
10                         بررسی نشده         NaN         NaN
11                     325396005800 -         NaN         NaN
12      باشگاه کوه نوردی شاهو کردستان         NaN         NaN

                          نوع حضور تایید هئیت استان  Unnamed: 5  \
0                              NaN     مبلق پرداختی         NaN
1         شرکت‌کننده اصلی درمسابقه        تایید شده         NaN
2                              NaN          2000000         NaN
3                              NaN              NaN         NaN
4   شرکت‌‌ کننده (آموزش/صعود/اردو)        تایید شده         NaN
5                              NaN          2000000         NaN
6                              NaN              NaN         NaN
7   شرکت‌‌ کننده (آموزش/صعود/اردو)        تایید شده         NaN
8                              NaN          2000000         NaN
9                              NaN              NaN         NaN
10  شرکت‌‌ کننده (آموزش/صعود/اردو)        تایید شده         NaN
11                             NaN          2000000         NaN
12                             NaN              NaN         NaN

          استان اعزامی  Unnamed: 7  تاریخ تولد       کد ملی  Unnamed: 10  \
0                  NaN         NaN         NaN       موبایل          NaN
1                تهران         NaN  1373/01/05   0440377331          NaN
2                  NaN         NaN   3/25/1994  09128305769          NaN
3                  NaN         NaN         NaN          NaN          NaN
4         خراسان شمالی         NaN  1367/05/02   0829827757          NaN
5                  NaN         NaN   7/24/1988  09391612742          NaN
6                  NaN         NaN         NaN          NaN          NaN
7   چهارمحال و بختیاری         NaN  1368/11/18   4670057650          NaN
8                  NaN         NaN    2/7/1990  09383014890          NaN
9                  NaN         NaN         NaN          NaN          NaN
10             کردستان         NaN  1372/01/19   3750247651          NaN
11                 NaN         NaN    4/8/1993  09182471508          NaN
12                 NaN         NaN         NaN          NaN          NaN

     نام و نام خانوادگی  Unnamed: 12  Unnamed: 13  ردیف
0                   NaN          NaN          NaN   NaN
1     کیانا سادات درهمی          NaN          NaN   1.0
2   kiana sadat derhami          NaN          NaN   NaN
3                   NaN          NaN          NaN   NaN
4        الهام رباط جزی          NaN          NaN   2.0
5       elham robatjazi          NaN          NaN   NaN
6                   NaN          NaN          NaN   NaN
7            زهرا حیدری          NaN          NaN   3.0
8         zahra heidari          NaN          NaN   NaN
9                   NaN          NaN          NaN   NaN
10           نگار ساجدی          NaN          NaN   4.0
11         negar sajedi          NaN          NaN   NaN
12                  NaN          NaN          NaN   NaN